:root{
  --blanco: #ffffff;  
  --azul: #02117A;
  --azuloscuro: #303642;
  --verde: #25d366;
  --negro: #0c0505;
  --gris-tenue: #6E7076;
  --purpura-oscuro: #5333ed;
  --turquesa: #2cd4d9;
}

  html{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  /*Header navegacion*/
  .IconoLogo{
    height: 70px;
  }
  
  
  .contenedor{
    width: 120rem;
    margin: 0 auto 0 auto;
  }
  
  nav {
      background-color: var(--negro);
      overflow: hidden;
  }
  
  nav a {
    float: left;
    display: block;
    color: var(--blanco);
    font-weight: bold;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
    float: inline-end;
  }
  
  nav a:hover {
    background-color: var(--azul);
    color: var(--blanco);
  }
  
  nav h1{
    display: inline-block;
    color: var(--blanco);
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    padding: 0px 40px;
    
  } 
  
  #titulo{
    text-align: center;
    font-size: 1.5rem;
  }
  
  /*Seccion formulario*/

  .form {
    max-inline-size: 550px;
    margin: auto;
    margin-top: 100px;
  }
  
  .form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
  }
  
  .form label span {
    color: #DA1414;
  }
  
  .form input, .form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #858C94;
  }
  .form textarea {
    margin-block-end: 2em;
    font-family: inherit;
  }
  
  input::-webkit-input-placeholder {
    color: #0F0A0A88;
  }
  
  
  .contact {
    margin-block-end: 5em;
  }

  .contact h1{
    text-align: center;
    color: var(--purpura-oscuro);
    font-size: 1.5rem;
  }

  
  #destino {
    opacity: 0;
  }

  .btn-enviar{
    color: white;
    border-radius: 10%;
    padding: 20px;
    background: linear-gradient(45deg, var(--purpura-oscuro) , var(--turquesa));
  }

  /*Seccion contacto*/
#Contacto {
  background: linear-gradient(45deg, var(--purpura-oscuro) , var(--turquesa));
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  width: 120rem;
  margin: 5rem auto 0 auto;
  
}

.correo, .telefono, .ubicacion{
color: var(--blanco);
padding: 20px;
padding-top: 0%;
text-align: center;

}

.correo p, .telefono p, .ubicacion p{
font-size: 13px;
}

.contacto img {
  max-width: 100%;
  height: auto;
  margin-top: 0px;
  align-items: center;
  max-width: 100%;
  
}


/*Seccion widget Wpp*/

#whatsapp-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--verde);
  color: var(--blanco);
  border-radius: 10%;
  cursor:pointer;
  width: 100px;
}

/*Seccion footer*/
footer {
  background: white;
  color: black;
  text-align: center;
  padding-bottom: 2rem;
  width: 120rem;
  margin: 0 auto 0 auto;

}

#logo-footer{
width: 120rem;
height: 5rem;
margin-bottom: 10px;
background-color: black;
color: white;
}

#logo-footer img{
width: 150px;
}

#logo-footer h5{
text-align: center;
margin-top: 10px;
}

#developer-footer{
width: 120rem;
height: 1rem;
background-color: white;
text-align: center;
}

/*Media queries*/

@media  (max-width: 767px){
  .contenedor{
    width: 100%;
  }
  .IconoLogo{
    height: 40px;
  }
  nav a{
  text-align: center;
  float:initial;
  }
  #Contacto{
    width: 100%;
  }

  .correo p, .telefono p, .ubicacion p{
    font-size: 8px;
  }

  #whatsapp-widget {
    width: 100px;
    position: fixed; 
  }
  footer {
    width: 100%;
  }

  #logo-footer{
  width: 100%;
  height: 40px;
  }

  #developer-footer{
  width: 100%;
  }
}

@media  (min-width: 768px) and (max-width:1200px){
  .contenedor{
    width: 100%;
  }
  .IconoLogo{
    height: 40px;
  }
  nav a{
    text-align: center;
    display: block;
    float: inline-end;
  }
  #Contacto{
    width: 100%;
  }

  .correo p, .telefono p, .ubicacion p{
    font-size: 8px;
  }

  #whatsapp-widget {
    width: 100px;
    position: fixed; 
  }
  footer {
    width: 100%;
  }

  #logo-footer{
  width: 100%;
  height: 40px;
  }

  #developer-footer{
  width: 100%;
  }
}

@media (min-width:1200px) and (max-width: 1600px){
  .contenedor{
    width: 100%;
  }
  .IconoLogo{
    height: 40px;
  }
  nav a{
    text-align: center;
    display: block;
    float: inline-end;
  }
  #Contacto{
    width: 100%;
  }

  .correo p, .telefono p, .ubicacion p{
    font-size: 8px;
  }

  #whatsapp-widget {
    width: 100px;
    position: fixed; 
  }
  footer {
    width: 100%;
  }

  #logo-footer{
  width: 100%;
  height: 40px;
  }

  #developer-footer{
  width: 100%;
  }
}

@media (min-width:1600px) and (max-width:1920px){
  .contenedor{
    width: 100%;
  }
  .IconoLogo{
    height: 40px;
  }
  nav a{
    text-align: center;
    display: block;
    float: inline-end;
  }
  #Contacto{
    width: 100%;
  }

  .correo p, .telefono p, .ubicacion p{
    font-size: 8px;
  }

  #whatsapp-widget {
    width: 100px;
    position: fixed; 
  }
  footer {
    width: 100%;
  }

  #logo-footer{
  width: 100%;
  height: 40px;
  }

  #developer-footer{
  width: 100%;
  }
}